<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}"/>
    </head>
    <body>
        <div>
            <h2>제목 : {{ article.title }}</h2>
        </div>
        <div>
            카테고리 : <b>{{ article.category }}</b>
        </div>
        <div class="contents">내용 :</div>
        <div class="contents cont">
            {{ article.content }}
        </div>
        <div class="time">
            생성 일시 : <b>{{ article.created_at }}</b>
        </div>

        {% for comment in article.comments.all %}
        <li>{{ comment.content }}
            <a href="{% url 'comment_delete' article.id comment.pk %}">삭제하기 /</a>
            <a href="{% url 'detail' article.id %}">답글 닫기</a>
        </li>
        <!--여기에 if 문 넣어서 답글 달린거에만 텍스트 넣는거 넣을 수 있을까?-->
        <form action="" method="POST" class="reply_form">
            {% csrf_token %}
            <input type="text" name="content" placeholder="답글을 입력해주세요."/>
            <button type="submit">작성하기</button>
        </form>
        {% for reply in comment.replys.all %}
        <li class="reply">{{reply.content}}
            <a href="{% url 'reply_delete' article.id comment.pk reply.pk %}">삭제하기</a>
        </li>
        {% endfor %}
        {% endfor %}
        <div class="hometag">
            <a href="{% url 'home' %}">홈으로</a>
        </div>
    </body>
    </html>