{% extends 'base.html' %}

{% block css %}
{% load static %}

{% endblock css %}

{% block content %}
<div class="main-container1">
    <form method="POST">
        {% csrf_token %}
        <div class="posts_box">
          {% if error %}
          <p>{{error}}</p>
          {% endif %}
          <input
            type="text"
            name="username"
            placeholder="아이디"
            class="registration-input"
          />
          <input
            type="password"
            name="password"
            placeholder="비밀번호"
            class="registration-input"
          />
        </div>
        <div class="registration-box">
          <button id="post-button">회원가입</button>
        </div>
      </form>
      
</div>
{% endblock content %}