<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <header>To Do List!</header>
        <div class="main-container">
            <div class="top-block">
                <div class="deco-words">"오늘 걷지 않는다면, 내일은 뛰어야하니까."</div>
                <div class="make_task">
                    <a href="{% url 'new' %}" class="make">Make a Task</a>
                </div>
            </div>
            <div class="my_tasks">My tasks</div>
            <div>
                {% for task in tasks %}
                <div class="task_box">
                    <div class="task_title">
                        Title: <a href="{% url 'details' task.pk %}" ><u>{{ task.title }}</u></a>
                    </div>
                    <div class="task_due_date"> Remaining Days : {{ task.due_date|timeuntil:task.to_day }}</div>
                    <div class="task_condition">State: {{ task.doornot }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>