{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'base.css' %}?v=0.1"
    />
    <title>My Blog</title>
  </head>

  <body>
    <div class="nav-bar">
      <a class="nav-item" href="{% url 'home' %}">HOME</a>
      {% if user.is_authenticated %}
      <div class="nav-item">안녕하세요, {{ user.username }}님</div>
      <a class="nav-item" href="{% url 'mypage' %}"> 마이페이지 </a>
      <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
      {% else %}
      <a class="nav-item" href="{% url 'login' %}">로그인</a>
      <a class="nav-item" href="{% url 'signup' %}">회원가입</a>
      {% endif %}
    </div>
    {% block content %} {% endblock content %}
  </body>
</html>
