@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    margin: 0;
}
header {
    font-size: 45px;
    font-family: 'GmarketSansMedium';
    font-weight: 700;
    box-sizing: border-box;
    padding-left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid rgb(242, 242, 242) ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.top-block {
    font-family: 'BookkMyungjo-Bd';
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
}
/* .maincontainer {
    background-color: rgb(253,249,170);
    width: 20%;
    box-sizing: border-box;
    margin-left: 40px;
    padding: 25px 10px;
} */
/* 포스트잇 */
.postit {
    border: 1px solid gray;
    font-size: 16px;
    width: 300px;
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #f6e214;
    color: black;
    padding-top: 15px;
    box-sizing: border-box;
    margin-left: 50px;
}

.postit div {
    padding: 5px;
    border-bottom: 1px solid gray;
}

.postit:hover::before {
    border-bottom: 15px solid dodgerblue;
}

.postit::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    border-bottom: 15px solid gray;
    border-left: 15px solid rgba(0, 0, 0, 0);
}

.tb_dt {
    margin-left: 30px;
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 10px;
    background-color:#E9EDF1;
    width: 6.5%;
    border: 1px solid #E9EDF1;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}